<div class="container">
    <div style="margin: 10px;">
        <input type="text" class="form-control" placeholder="Key word" [(ngModel)]="keyWord">
        <button class="btn btn-primary mt-2" (click)="news(keyWord)">Search</button>
    </div>

    <div>
        <h3 style="padding: 15px;">Total encontrado: {{lstNews.length}}</h3>
        <article class="news d-flex" *ngFor="let item of lstNews">
            <div>
                <img src="{{item.urlToImage}}" height="100" width="100" alt="">
            </div>
            <div class="infos">
                <div>
                    <a href="{{item.url}}" target="_blank">{{ item.title }}</a>
                </div>
    
                <em>{{item.description}}</em>
            </div>
        </article>
    </div>
</div>