.news {
    background-color: white;
    width: 100%;
    box-shadow: rgba(0,0,0,0.50) 0 0 5px 0.5px;
    border-radius: 5px;
    padding: 7px;
    margin: 10px;
}

.news > div > img {
    border-radius: 5px;
}

.news > .infos {
    padding-left: 15px;
    padding-right: 15px;
}